In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
import pandas as pd

for dirname, _, filenames in os.walk("./"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

./Project_1.ipynb
./.ipynb_checkpoints/Project_1-checkpoint.ipynb
./data/titanic.csv
./data/titanic_backup.csv

# 1. Frame the problem
Using the customer description, Define the problem your trying to solve in your own words (remember this is not technial but must be specific so the customer understands the project

Given data about attributes of people aboard the Titanic, including for example sex and age, as well as whether they survived, we wish to determine which variables are strongest correlated with surviving the sinking of the ship as well as create a model that uses those variables to predict whether a passenger survived or not.

# 2. Get the Data 
Define how you recieved the data (provided, gathered..)

We were provided the data. We received a CSV file containing data from 891 passengers.

# 3. Explore the Data
Gain insights into the data you have from step 2, making sure to identify any bias

We first note our biases, which are that we expect women and children to have had a higher survival rate.

In [13]:
df = pd.read_csv('data/titanic.csv')

age_threshold = 18

data = {'Sex': [], 'Class': [], 'Overall': [], 'Adult': [], 'Child': []}

for sex in ['male', 'female']:
    for pclass in [1, 2, 3]:
        filtered = df[(df['Sex'] == sex) & (df['Pclass'] == pclass)]
        data['Sex'].append(sex)
        data['Class'].append(pclass)
        data['Overall'].append(filtered['Survived'].sum() / len(filtered))
        for i, b in enumerate([False, True]):
            age_filtered = filtered[(filtered['Age'] >= age_threshold) ^ b]
            data[['Adult', 'Child'][i]].append(age_filtered['Survived'].sum() / len(age_filtered))

results = pd.DataFrame(data)
print(results)

      Sex  Class   Overall     Adult     Child
0    male      1  0.368852  0.371134  0.360000
1    male      2  0.157407  0.068182  0.550000
2    male      3  0.135447  0.133333  0.138686
3  female      1  0.968085  0.974026  0.941176
4  female      2  0.921053  0.903226  1.000000
5  female      3  0.500000  0.417910  0.571429

According to our preliminary analysis, age had the most noticable impact on survival rate for men with second class tickets. Men had a significantly lower survival rate than women in all 3 ticket classes. Having a higher class ticket is also correlated with a higher survival rate, with a significant drop off in survival occurring between 1st and 2nd class for men and 2nd and 3rd class for women.

# 4.Prepare the Data


Apply any data transformations and explain what and why

In [14]:
df.drop('Ticket', axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,NaN,Q

# 5. Model the data
Using selected ML models, experment with your choices and describe your findings. Finish by selecting a Model to continue with

# 6. Fine Tune the Model

With the select model descibe the steps taken to acheve the best rusults possiable

# 7. Present
In a customer faceing Document provide summery of finding and detail approach taken

# 8. Launch the Model System
Define your production run code, This should be self susficent and require only your model pramaters

In [15]:
def infrence(prams):
    results = m.run(prams)
    return results